extends layout

block content
  h1 Owners
  ol
    each val in owners
      p
      li Name: #[a(href='/#{val.id}') #{val.name}]
      | Smells: #{val.smells}
      form(action='/delete/#{val.id}',method='POST')
        button(type='submit').
          Delete
  h1 New Owner?
  form(name="add-owner", method="POST")
      div.input
          span.label Name
          input(type="text", name="name")
      div.input
          span.label Number of Arms?
          input(type="text", name="arms")
      div.input
          span.label How do they smell?
          input(type="text", name="smells")
      div.actions
          input(type="submit", value="add")