extends layout

block content
  ol #{owner.name}'s Turtles
    each val, index in owner.turtles
      li #{val.name}
      if val.canDance
        |It can dance
      else
        |It cannot dance
      form(method='POST', action='/#{val.id}?_method=DELETE')
        button(type='submit') Delete
