extends layout

block content
  ol #{owner.name}'s, who has #{owner.arms} arm(s), Turtles
    each val, index in owner.turtles
      li #{val.name}
      //- TODO, be able to click on a turtle as a link
      if val.canDance
        |It can dance
      else
        |It cannot dance
      //- TODO, delete turtles button here
  form(action='/update/#{owner.id}', method='POST')
    button(type='submit').
