extends layout

block content
  h1 The turtles of #{owner.name}, who has #{owner.arms} arm(s).
  ol
    each val, index in owner.turtles
      li #{val.name}
      //- TODO, be able to click on a turtle as a link
      if val.canDance
        |It can dance
      else
        |It cannot dance
      //- TODO, delete turtles button here
  h2 Update #{owner.name}?
  form(name="add-owner", method="POST")
    div.input
        span.label Name
        input(type="text", name="name")
    div.input
        span.label Number of Arms?
        input(type="text", name="arms")
    div.input
        span.label How do they smell?
        input(type="text", name="smells")
    div.actions
        input(type="submit", value="add")
